---
layout: default
page: home
selected: home
title: Melissa Keizer
intro: User Interface &amp; User Experience Designer, Photographer, Animal Obssessor & Dutch/Northern Irish Mongrel

---

<div id="page-home">


<div class="container">
  <section class="blog-posts">
  {% for post in site.posts limit:1 %}
   <li class="featured-blog-post" style="background-image: url({{ post.cover-photo }})";>
      <div class="blog-post-info">
        <a href="{{ post.url | prepend: site.baseurl }}">
        <p class="date">{{ post.date | date: "%d %B %Y" }}</p>
        <h3>{{ post.title }}</h3>
        </a>
      </div>
   </li>
  {% endfor %}
  {% for post in site.posts offset:1 limit:2 %}
    <li class="blog-post">
      <a href="{{ post.url | prepend: site.baseurl }}">
      <img src="{{ post.cover-photo }}" alt="{{ post.cover-photo }}" />
      <p class="date">{{ post.date | date: "%d %B %Y" }}</p>
      <h3>{{ post.title }}</h3>
      </a>
    </li>
  {% endfor %}
  </section>

  <section class="block clearfix see-more-link">
    <a href="{{ site.baseurl }}/journal/" class="big-link">See more posts from my journal</a>
  </section>

  <section class="main-area home-design">
    <div class="text">
      <h2>Designing websites and bettering user experiences</h2>
      <p>Vestibulum fermentum aliquam, suspendisse elit dui tincidunt ut metus at, vulputate gravida justo.</p>
      <a href="{{ site.baseurl }}/design/" class="big-link">View my design work</a>
    </div>
  </section>

  <section class="main-area home-photography">
    <div class="text right">
      <h2>Shooting people, places and animals with my camera</h2>
      <p>Vestibulum fermentum aliquam, suspendisse elit dui tincidunt ut metus at, vulputate gravida justo.</p>
      <a href="{{ site.baseurl }}/photography/" class="big-link">Check out my photos</a>
    </div>
  </section>

</div><!-- end container -->








