<header>
  <nav class="menu">
    <img src="../img/melissakeizer-logo-turquoise.svg" class="logo" />
    <ul class="desktop-menu">
      <li class="hello"><a href="{{ site.baseurl }}/" {% if page.selected == "home" %}class="active"{% endif %}>Hello</a></li>
      <li><a href="{{ site.baseurl }}/about/" {% if page.selected == "about" %}class="active"{% endif %}>About Me</a></li>
      <li><a href="{{ site.baseurl }}/photography/" {% if page.selected == "photography" %}class="active"{% endif %}>Photography</a></li>
      <li><a href="{{ site.baseurl }}/journal/" {% if page.selected == "journal" %}class="active"{% endif %}>Journal</a></li>
      <li>
        <a href="mailto:{{ site.email }}" class="email" title="email me!">
          <i class="fa fa-paper-plane"></i>
        </a>
      </li>
    </ul>
  </nav>
  <a href="#" class="hamburger" id="hamburger" title="view full menu">
    <i class="fa fa-bars"></i>
  </a>

  <nav id="mobile-menu" class="mobile-menu-relative">
    <ul>
      <li class="hello"><a href="{{ site.baseurl }}/" {% if page.selected == "home" %}class="active"{% endif %}>Hello</a></li>
      <li><a href="{{ site.baseurl }}/about/" {% if page.selected == "about" %}class="active"{% endif %}>About Me</a></li>
      <li><a href="{{ site.baseurl }}/photography/" {% if page.selected == "photography" %}class="active"{% endif %}>Photography</a></li>
      <li><a href="{{ site.baseurl }}/journal/" {% if page.selected == "journal" %}class="active"{% endif %}>Journal</a></li>
      <li>
        <a href="mailto:{{ site.email }}" class="email" title="email me!">
          <i class="fa fa-paper-plane"></i>
        </a>
      </li>
      <li class="close-icon">
        <a href="#" class="close-menu" id="close-menu" title="close menu">
          <i class="fa fa-times"></i>
        </a>
      </li>
    </ul>
  </nav>


</header>