/* Instafeed */

<div id="instafeed"></div>

<script type="text/javascript">
  var userFeed = new Instafeed({
    get: 'user',
    userId: '486291',
    clientId: '5da4419ffb5f4840a6d7d15ab7150d6c',
    accessToken: '466840c92fc441b4b179fa4dd73f21a3',
    resolution: 'standard_resolution',
    template: '<a href="{{link}}" target="_blank" id="{{id}}"><img src="{{image}}" /><span>{{likes}}{{comments}}</span></a>',
    sortBy: 'most-recent',
    limit: 4,
    links: false
  });
  userFeed.run();
</script>