<div id="menuicon" class="spinner-master2">
  <input type="checkbox" id="spinner-form2" />
  <label for="spinner-form2" class="spinner-spin2">
    <div class="spinner2 diagonal part-1"></div>
    <div class="spinner2 horizontal"></div>
    <div class="spinner2 diagonal part-2"></div>
  </label>
</div>

  <nav id="mobile-menu" class="mobile-menu-relative">
    <img src="{{ site.baseurl }}/img/misc/melissa-keizer-logo-clog.svg" class="mobile-menu__logo" />
    <ul>
      <li><a href="{{ site.baseurl }}/" {% if page.selected == "homepage" %}class="active"{% endif %}>Homepage</a></li>
      <li><a href="{{ site.baseurl }}/about/" {% if page.selected == "about" %}class="active"{% endif %}>About Me</a></li>
       <li><a href="{{ site.baseurl }}/design/" {% if page.selected == "design" %}class="active"{% endif %}>Design &amp; Dev</a></li>
      <li><a href="{{ site.baseurl }}/photography/" {% if page.selected == "photography" %}class="active"{% endif %}>Photography</a></li>
      <li><a href="{{ site.baseurl }}/journal/" {% if page.selected == "journal" %}class="active"{% endif %}>Journal</a></li>
    </ul>
    <div class="mobile-menu__social-links">
      <a href="{{ site.twitter }}" class="twitter">
        <img src="{{ site.baseurl }}/img/misc/twitter-dark.svg" alt="social icon" />
      </a>
      <a href="{{ site.dribbble }}" class="dribbble">
         <img src="{{ site.baseurl }}/img/misc/dribbble-dark.svg" alt="social icon" />
      </a>
      <a href="{{ site.flickr }}" class="flickr">
         <img src="{{ site.baseurl }}/img/misc/flickr-dark.svg" alt="social icon" />
      </a>
      <a href="{{ site.facebook }}" class="facebook">
         <img src="{{ site.baseurl }}/img/misc/facebook-dark.svg" alt="social icon" />
      </a>
      <a href="{{ site.instagram }}" class="instagram">
         <img src="{{ site.baseurl }}/img/misc/instagram-dark.svg" alt="social icon" />
      </a>
      <a href="{{ site.500px }}" class="500px">
         <img src="{{ site.baseurl }}/img/misc/500px-dark.svg" alt="social icon" />
      </a>
      <a href="{{ site.linkedin }}" class="linkedin">
        <img src="{{ site.baseurl }}/img/misc/linkedin-dark.svg" alt="social icon" />
      </a>
      <a href="mailto:hi@melissakeizer.com" class="email">
         <img src="{{ site.baseurl }}/img/misc/email-dark.svg" alt="social icon" />
      </a>
    </div>
  </nav>
