/* About Page */


article.design-imgs{
  padding: 1.5% 0 7% 0;
  width: 100%;
  img{
    display: inline-block;
    width: calc(50% - 2% - 4px);
    margin: 0.5%;
    border: 1px solid $background-grey;
  }
}

ul.content{
  @include content-width;
}

