/* About Page */

.about-photoset{
  width: $container-width + 10px;
  margin: -140px auto;
  margin-bottom: 80px;
}

.about-photoset img{
  width: 33%;
  padding: 5px;
}

ul.content{
  @include content-width;
}


#page-about ul{
  margin-bottom: 5%;
}

