/* About Page */

.photoset{
  width: $container-width + 10px;
  margin: -600px auto;
  margin-bottom: 60px;
}

.photoset img{
  width: 33%;
  padding: 5px;
}

ul.content{
  @include content-width;
}


#page-about ul{
  margin-bottom: 5%;
}

