/* Journal/Blog Page */

ul.blog-post-list{
  margin-top: -620px;
}

#page-journal .blog-post{
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin: 1.8% 0;
  &:nth-child(odd){
    margin-right: 3.5%;
  }
}

/* Article */

.article__cover{
  height: 750px;
  position: relative;
  @include bg-cover;
  margin-bottom: 60px;
}

.overlay {
    background-color:rgba(0,0,0,.5);
    height: 100%;
  }

.article__content{
  p{
    @include content-width;
    .article__image{
      img{
        width: 100%;
      }
    }
  }
  h2, h3, h4{
     @include content-width;
  }
  .article__image{
    padding-bottom: 50px;
    &--with-caption{
      padding-bottom: 0;
    }
  }
}



.article__notes, .comment-section{
  @include content-width;
}

.article__content p{
  @include content-width;
  margin-bottom: 5%;
}

.article__content img{
  display: block;
  width: 100%;
}

.article__notes{
  text-align: center;
  margin: 0 auto;
}

.article__more-posts{
  background-color: $background-grey;
  padding: 4% 0 1.5% 0;
  h2{
    padding: 0;
  }
}

.article__comments{
  @include content-width;
  padding: 5% 0 5% 0;
}



a.rss{
  font-size: 20px;
  color: $grey;
  &:hover{
    color: $yellow;
  }
}

.rss-and-pagination{
  position: relative;
  padding: 60px 0 60px 0;
  .pagination{
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .rss{
    display: inline-block;
    position: absolute;
    right: 0;
  }
}



