/* Journal/Blog Page */

.blog-meta, .comment-section{
  @include content-width;
}

.blog-content p{
  @include content-width;
  margin-bottom: 5%;
}

.blog-content img{
  display: block;
  width: 100%;
}

.blog-meta h1{
  margin-bottom: 7px;
}

.date, .caption{
  color: $grey;
  font-size: 16px;
}

.caption{
  padding-bottom: 0.5em;
}


ul.post-list li{
  padding: 0 0 10% 0;
  // border-bottom: 1px solid $grey;
  &:first-child{
    padding: 1% 0 10% 0;
  }
  &:last-child{
    border: none;
  }
}


a.rss{
  font-size: 20px;
  color: $grey;
  &:hover{
    color: $pink;
  }
}

#page-journal .button{
  width: 225px;
  &:hover{
    color: $white;
  }
}

#page-journal h2{
  margin: 0.1em 0 0.4em 0;
}


.rss-and-pagination{
  position: relative;
  padding: 60px 0 60px 0;
  .pagination{
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .rss{
    display: inline-block;
    position: absolute;
    right: 0;
  }
}


