/**
 * Variables
 */

$base-font-family: "adelle-sans", "proxima-nova", helvetica, arial, sans-serif;
$base-line-height: 1.6em;

$max-content-width: 740px;

/* New colours */

$black: #373737;
$white: #ffffff;

$turquoise: #039EBA;
$pink: #D2206A;
$transparent-pink: rgba(210,32,106,0.9);

$twitter-blue: #41A3E8;
$instagram-blue: #3F729B;
$facebook-blue: #3b5998;

$grey: #bababa;
$background-grey: lighten($grey, 18%);

/* Set site colours */

$background-color: $white;
$text-color: $black;
