/**
 * Variables
 */

$serif-font-family: "ff-meta-serif-web-pro", serif;
$sans-serif-font-family: "sofia-pro", sans-serif;
$base-line-height: 1.3em;

$max-content-width: 740px;

$container-width: 1200px;

/* New colours */

$black: #202020;
$white: #ffffff;

$yellow: #EBC828;
$gold: #847500;

$twitter-blue: #41A3E8;
$instagram-blue: #3F729B;
$facebook-blue: #3b5998;

$grey: #878787;
$background-grey: #eeeeee;

/* Set site colours */

$background-color: $white;
$text-color: $black;
