---
layout: default
page: journal
selected: journal
title: My Journal
intro: I write about photography, designing user experiences and random life experiences
---

<section class="grey-background clearfix blog-posts">
 <ul class="container blog-post-list clearfix">
 {% for post in paginator.posts %}
  <li class="blog-post aos-item" data-aos="fade-up" data-aos-once="true">
    <a href="{{ post.url | prepend: site.baseurl }}">
    <img src="{{ post.cover-photo }}" alt="{{ post.cover-photo }}" />
    <p class="date">{{ post.date | date: "%d %B %Y" }}</p>
    <h3>{{ post.title }}</h3>
    </a>
  </li>
{% endfor %}
</ul>
</section>



<section class="block clearfix see-more-link">
    <div class="rss-and-pagination container clearfix">
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class=" link link--black previous">&laquo; Previous</a>
        {% else %}
          <!-- <span class="previous">Newer Posts</span> -->
        {% endif %}
      <!--   <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class=" link link--black next">Show More Posts &raquo;</a>
        {% else %}
          <!-- <span class="next ">Older Posts</span> -->
        {% endif %}
      </div>
    </div>
</section>



