/* Social Media Grid */


ul.home-grid .social-grid{
  padding: 0;
}

.social-grid a{
  width: 50%;
  float: left;
  background: $twitter-blue;
}

.social-grid .exposure{
  @include subtle-fade($turquoise);
}

.social-grid .instagram{
  @include subtle-fade($instagram-blue);
}

.social-grid .dribbble{
  @include subtle-fade($pink);
}

.social-grid .twitter{
  @include subtle-fade($twitter-blue);
}

.social-grid a i{
  font-size: 35px;
  padding-top: 43%;
  padding-left: 43%;
  color: $white;
}