<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
		<div id="transcroller-body" class="aos-all">
    <header class="navigation">
      <div class="container">
          {% include header.html %}
      </header>
      <div id="page-{{ page.page }}">
        <div class="container">
          <article class="intro">
            <h1 class="aos-item" data-aos="fade-up">{{ page.title }}</h1>
            <p class="paragraph--intro aos-item" data-aos="fade-up" data-aos-delay="100">{{ page.intro }}</p>
          </article>
        </div>
        {{ content }}
        {% include footer.html %}
      </div>
			</div>
  </body>
</html>
