---
layout: default
---

<div id="page-post">
<section class="container">
  <article class="blog-meta">
    <h1>{{ page.title }}</h1>
    <p class="date">Posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </article>

  <article class="content">
    {{ content }}

  <a href="https://twitter.com/share" class="c" data-via="KeizGoesBoom" data-size="large" data-count="none">Share on Twitter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </article>

  {% include comments.html %}
</section>
</div>

