/* Footer */

footer{
  float: left;
  width: 100%;
  background-color: $white;
  color: $black;
  p{
    color: $black;
    padding-top: 9px;
  }
  a{
    text-decoration: none;
  }
}

.instagram-row{
  width: 100%;
  float: left;
  .photos{
  width: 80%;
  float: left;
  }
  .instagram-block{
    background-color: $yellow;
    color: $black;
    width: 20%;
    float: left;

  }
}

.footer-info{
  padding: 90px 0;
  width: 100%;
  float: left;
}

.send-me-email{
  width: 70%;
  float: left;
}

.social-block{
  width: 30%;
  float: left;
}

.social-block a{
  text-align: center;
  vertical-align: center;
  color: $black;
  float: right;
  &:hover{
    background: $yellow;
  }
}

.social-block .fa{
  padding: 0.7em;
  width: 55px;
  height: 55px;
  border: 1px solid #DBDBDB;
  &:hover{
    border: none;
  }
}

.row{
  float:right;
}
