/* Footer */

footer{
  color: $white;
  padding: 50px 0 0 0;
}

footer p{
  color: $subtle-grey;
  @include moretRegular;
  font-size: 15px;
  text-align: center;
  padding-top: 60px;
}
.footer__social-block{
  width: 100%;
  text-align: center;
  margin-left: 0 auto;
  a{
    height: 150px;
    width: 150px;
    padding: 0 20px;
    text-align: center;
    vertical-align: center;
    color: $white;
    img{
     padding: 0.5em;
     max-width: 60px;
    }
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  }
}
