/* Footer */

footer{
  float: left;
  width: 100%;
  padding: 100px 0;
  background-color: $black;
  color: $white;
  p{
    color: $white;
    padding-top: 9px;
  }
  a{
    text-decoration: none;
  }
}

.send-me-email{
  width: 70%;
  float: left;
}

.social-block{
  width: 30%;
  float: left;
}

.social-block a{
  text-align: center;
  vertical-align: center;
  color: $white;
  float: right;
  &:hover{
    background: $white;
    color: $black;
  }
}

.social-block .fa{
  padding: 0.7em;
  border: 1px solid #4D4D4D;
  width: 55px;
  height: 55px;
}

.row{
  float:right;
}
