
/* Navigation */


header{
  position: relative;
}

a.header__logo{
 width: 285px;
 position: absolute;
 top: 35px;
 left: 60px;
 img{
  width: 285px;
 }
}


ul.main-navigation__list{
  position: absolute;
  top: 40px;
  right: 60px;
  li{
    display: inline-block;
    font-weight: 700;
    a{
      @include navigation-styles;
      color: $black;
      padding-bottom: 2px;
      &:hover{
        color: $yellow;
      }
      &.active, &:active{
        color: $yellow;
      }
    }
  }
}

#page-post nav ul li a{
  color: $white;
  &:hover{
    color: $yellow;
  }
  &.active, &:active{
    color: $yellow;
  }
}

a.hamburger:hover {
  &:hover{
    color: $yellow;
    border: none;
  }
  &.active{
    border: none;
  }
}

a.hamburger{
  display: none;
  float: right;
  padding-right: 1.2em;
  &.active{
    border: none;
  }
}


 #mobile-menu {
  display: none;
  position: fixed;
  background: $black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  z-index: 1000;
}

.mobile-menu-relative{
  position: relative;
}


#mobile-menu ul {
  width: 100%;
  li {
  display: block;
  padding: 12px 0;
  font-weight: 600;
  &:first-child{
    padding-top: 40px;
    }
  a{
  display: block;
  text-align: left;
  color: $white;
  font-size: 30px;
  margin: 0;
  &:hover{
    border: none;
    }
  &.active{
    border: none;
    }
  }
 }
}

a.close-menu {
  color: $white;
}

li.close-icon{
  position: absolute;
    top: 0;
  right: 20px;
}

