/* Base Styling */

body {
    box-sizing: border-box;
    background-color: $white;
    border: 10px solid $white;
}

*{
   box-sizing: border-box;
   -moz-box-sizing:border-box;
   -webkit-font-smoothing: antialiased;
}

.container{
  margin: 0 auto;
  width: 90%;
  max-width: $container-width;
  img{
    width: 100%;
  }
  &__content{
     @include content-width;
  }
}

.full-width{
  width: 100%;
  overflow-x: hidden;
}


/* Header */


.intro{
    max-width: 600px;
    padding: 8% 0 4% 0;
    display: block;
  }

/* Comments */

.comment-section{
  padding-top: 2em;
}

/* Main Areas */

.block{
  width: 100%;
  float: left;
  &__info{
    width: 50%;
    height: 590px;
    float: left;
    position: relative;
    &__text{
      padding: 15% 10%;
      .link{
        position: absolute;
        bottom: 15%;
      }
      h2{
        margin-top: 0.3em;
      }
    }
    &--yellow{
      background: $yellow;
      color: $black;
    }
    &--black{
      background: $black;
      color: $white;
    }
  }
  &__photo{
    width: 50%;
    height: 590px;
    float: left;
    @include bg-cover;
    &--homepage-design{
      background-image: url(/img/homepage/design-bg.jpg);
    }
    &--homepage-photography{
      background-image: url(/img/homepage/photography-bg.jpg);
    }
  }
}


.gallery{
  height: 680px;
}
.slick-track {
  height: 100%;
}
.slick-slide img {
    height: 100%;
}











