/* Base Styling */

body {
    box-sizing: border-box;
    background-color: $background-color;
}

*{
   box-sizing: border-box;
}

.container{
  margin: 0 auto;
  width: 90%;
  img{
    width: 100%;
  }
}

.full-width{
  width: 100%;
}

article.content{
  @include content-width;
}

#page-about .content, #page-journal .content, #page-post .content,  {
  padding-bottom: 5em;
}


/* Comments */

.comment-section{
  padding-top: 2em;
}









