/* Responsify */



@media only screen and (min-width: 1700px) {

  body{
    font-size: 28px;
  }

  ul.work-grid li{
    height: 700px;
  }

  ul.home-grid li.blog h3 {
    font-size: 19px;
    padding-bottom: 8px;
  }

  ul.home-grid li.blog h2 {
  font-size: 36px;
  }

  ul.home-grid li.flickr a i.fa, ul.home-grid li.dribbble a i.fa, .social-grid a i{
    font-size: 45px;
  }

  .date, .caption {
    font-size: 19px;
  }

  a.button{
    font-size: 20px;
    width: 200px;
    padding: 0em 2em 0.2em 2em;
  }

  a.button-push .button-icon {
    top: 17px;
    font-size: 19px;
  }

  h1{
    font-size: 65px;
  }

  #tagline h2 {
    font-size: 28px;
    max-width: 660px;
    padding-bottom: 30px;
  }

  nav ul li a {
    font-size: 22px;
  }

  article.content {
  max-width: 810px;
  }

  #page-journal .button {
    width: 250px;
  }

  h2, h2 a {
    font-size: 37px;
  }

  .blog-meta, .comment-section {
    margin: 0 auto;
    max-width: 810px;
  }




}



@media only screen and (max-width: 1300px) {


  ul.work-grid li .inner{
    padding: 10%;
    p{
      margin-bottom: 10%;
      font-size: 19px;
    }
  }

}


@media only screen and (max-width: 1200px) {

 ul.home-grid li .inner{
  padding: 20% 15% 15% 15%
  }

}

@media only screen and (max-width: 960px) {

   ul.home-grid li .inner{
  padding: 15% 15% 15% 15%
  }

   #page-eyekiller ul.work-grid li .inner p{
      font-size: 18px;
      line-height: 1.7em;
    }


  .photo-grid img{
  width: 33.333%;
  }


}





@media only screen and (max-width: 800px) {
   h1{
    font-size: 50px;
  }


  ul.home-grid li, ul.home-grid a li, ul.photo-grid a li{
    width: 50%;
  }


   ul.home-grid li .inner{
  padding: 25% 15% 15% 15%
  }

  footer div p{
    font-size: 14px;
  }

  #page-eyekiller ul.work-grid li{
    width: 100%;
    .inner p{
      font-size: 22px;
    }
  }

   #page-eyekiller ul.work-grid li#work-belfast-ruby{
      border-bottom: solid 1px $grey;
    }


}

@media only screen and (max-width: 700px) {

   h1 span{
    display: inline;
  }


  ul.home-grid li .inner, ul.home-grid a li .inner{
    padding: 20% 15% 20% 15%;
    p{
      font-size: 20px;
      line-height: 1.5em;
    }
    p.date{
      font-size: 15px;
    }
  }

  ul.home-grid li.blog h2{
    font-size: 26px;
  }


  header{
    padding: 1.5em 0;
  }

  footer div{
    float: left;
    width: 100%;
  }

  a.hamburger{
  display: block;
  }

   nav.menu{
    display: none;
   }



}


@media only screen and (max-width: 520px) {

  h1{
    font-size: 34px;
  }

  h2, h2 a{
    font-size: 26px;
  }

  h1 span{
    display: block;
  }

  body, #tagline h2{
    font-size: 18px;
  }

  header {
    padding: 1em 0em 2.7em 0em;
  }

  ul.home-grid li, ul.home-grid a li, ul.photo-grid a li{
    width: 100%;
    .inner{
      padding: 18% 10%;
      p{
        font-size: 18px;
      }
    }
   &.blog h2{
    font-size: 28px;
   }
  }

    ul.home-grid li.blog{
      background: $turquoise;
    }

    ul.home-grid li.blog:hover:hover{
      background: darken($turquoise, 5%);
    }

    a.button-push .button-icon{
      top: 12px;
    }


ul.post-list li{
  padding: 13% 0 13% 0;
  &:first-child{
    padding: 1% 0 13% 0;
  }
}

   #page-eyekiller header{
    padding-bottom: 1em;
   }


  #page-eyekiller .header-background {
    min-height: 250px;
    h1{
      font-size: 50px;
    }
  }

  #page-eyekiller .header-background .content{
    padding: 8% 0 22% 0;
  }

  #page-eyekiller .content {
    padding: 2.5em 0;
  }

  #page-eyekiller .my-work .section-title {
    padding: 1.5em 0;
    h2{
      font-size: 20px;
    }
  }

  #page-eyekiller ul.work-grid li .inner {
    padding: 10% 5%;
    p{
      font-size: 19px;
      line-height: 1.7em;
    }
  }

  #page-eyekiller .work-example{
    height: 330px;
  }


  #page-eyekiller .content p strong{
    font-size: 20px;
  }

  .photo-grid img{
  width: 100%;
  }

  ul.photo-grid li h4{
    opacity: 1;
  }


}
