/* Responsify */



@media only screen and (min-width: 961px) {

}



@media only screen and (max-width: 1300px) {


  ul.work-grid li .inner{
    padding: 10%;
    p{
      margin-bottom: 10%;
      font-size: 19px;
    }
  }

}


@media only screen and (max-width: 1100px) {

#page-eyekiller ul.work-grid li .inner{
    // padding: 15% 10%;
    p{
      font-size: 17px;
      line-height: 1.5em;
    }
  }
}





@media only screen and (max-width: 800px) {

  ul.home-grid li, ul.home-grid a li{
    width: 50%;
  }

  footer div p{
    font-size: 14px;
  }

  #page-eyekiller ul.work-grid li{
    width: 100%;
    .inner p{
      font-size: 22px;
    }
  }

   #page-eyekiller ul.work-grid li#work-belfast-ruby{
      border-bottom: solid 1px $grey;
    }


}

@media only screen and (max-width: 700px) {

   h1 span{
    display: inline;
  }


  ul.home-grid li .inner, ul.home-grid a li .inner{
    padding: 20% 15% 20% 15%;
    p{
      font-size: 20px;
      line-height: 1.5em;
    }
    p.date{
      font-size: 15px;
    }
  }

  ul.home-grid li.blog h2{
    font-size: 26px;
  }


  header{
    padding: 1.5em 0;
  }

  nav ul {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    li a{
      font-size: 18px;
      margin: 0 0 0 20px;
    }
  }

  footer div{
    float: left;
    width: 100%;
  }



}


@media only screen and (max-width: 520px) {

  h1{
    font-size: 30px;
  }

  h2, h2 a{
    font-size: 27px;
  }

  h1 span{
    display: block;
  }

  body, #tagline h2{
    font-size: 18px;
  }

  header {
    padding-bottom: 4em;
  }

  ul.home-grid li, ul.home-grid a li{
    width: 100%;
    .inner{
      padding: 25% 10%;
      p{
        font-size: 22px;
      }
    }
   &.blog h2{
    font-size: 28px;
   }
  }

    ul.home-grid li.blog{
      background: $turquoise;
    }

    ul.home-grid li.blog:hover:hover{
      background: darken($turquoise, 5%);
    }


  #page-eyekiller .header-background {
    min-height: 230px;
    h1{
      font-size: 50px;
    }
  }

  #page-eyekiller .my-work .section-title {
    padding: 1.5em 0;
    h2{
      font-size: 20px;
    }
  }

  #page-eyekiller ul.work-grid li .inner {
    padding: 8%;
    p{
    font-size: 16px;
    line-height: 1.6em;
    }
  }

  #page-eyekiller .content p strong{
    font-size: 20px;
  }


}
