/* Typography */

body {
    font-family: $serif-font-family;
    font-size: 21px;
    line-height: $base-line-height;
    font-weight: 300;
    font-style: normal;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
}


h1{
  font-family: $serif-font-family;
  font-weight: 600;
  color: $black;
  font-size: 45px;
  line-height: 1.3em;
  text-align: left;
  margin-bottom: 0.25em;
}


h2, h2 a{
  font-family:$serif-font-family;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2em;
  margin: 1.5em 0 0.5em 0;
}

h2.sub-heading{
  font-family:$sans-serif-font-family;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}


h3, h3 a{
  font-weight: 700;
  line-height: 1.2em;
  font-size: 25px;
  padding-bottom: 9px;
}

p{
  margin-bottom: 5%;
  color: $black;
  line-height:$base-line-height;
  font-size: 22px;
  line-height: 1.5em;
}

a{
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

a.big-link{
font-family: $sans-serif-font-family;
font-weight: 600;
font-size: 22px;
border-bottom: 2px solid $black;
@include subtle-animation;
 &:hover{
  background: $black;
  color: $yellow;
 }
}

.photography a.big-link{
  border-bottom: solid 2px $white;
 &:hover{
  background: $white;
  color: $black;
  }
}

.text a.big-link{
  position: absolute;
  bottom: 15%;
}

.date{
  font-size: 17px;
  color: $grey;
  margin-bottom: 0;
}

p.intro{
  font-size: 24px;
  padding: 10px 0;
  line-height: 1.3em;
}

a:active {
  position: relative;
  top: 1px;
}


/* Styles within content chunks and blog posts */


/* Code */


pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre {
  font-size: .75em;
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 0 5% 0;
  padding: 1.17647em;
  line-height: 1.4;
  color: #1a1a1a;
  border-radius: 5px;
  background: #f7f7f7;
}






