/* Typography */

body {
    font-family: $base-font-family;
    font-size: 22px;
    line-height: $base-line-height;
    font-weight: 300;
    font-style: normal;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
}


h1{
  font-weight: 700;
  color: $turquoise;
  font-size: 60px;
  margin-bottom: 7%;
  line-height: 1.4em;
  span{
    display: block;
  }
}


h2, h2 a{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4em;
  margin: 1.5em 0 0.9em 0;
}

h2 a{
  text-decoration: none;
  &:hover{
    color: $pink;
  }
}

h3{
  font-weight: 700;
  line-height: 1.4em;
}

p{
  margin-bottom: 5%;
  color: $black;
}

.content a, .content a:visited{
  color: $black;
  &:hover{
    color: $pink;
  }
}

a:active {
  position: relative;
  top: 1px;
}

p a, #page-post ul li a, .pagination a{
  text-decoration: none;
  border-bottom: 1px solid $grey;
  &:hover{
    color: $pink;
  }
}

.pagination a{
  font-size: 19px;
}

#page-post ul {
    margin-bottom: 5%;
}

#page-post ul li{
  list-style: outside;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre {
  font-size: .75em;
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 0 5% 0;
  padding: 1.17647em;
  line-height: 1.4;
  color: #1a1a1a;
  border-radius: 5px;
  background: #f7f7f7;
}







